body {
  background-color: black;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px 0 10px;
}

p {
  font-size: 1rem;
  margin: 0;
}
